@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

/* styles/globals.css */
:root {
  --font-roboto: 'Roboto', sans-serif;
}

body {
  font-family: var(--font-roboto);
}


.navbar{
  background-color: #215563;
}

.link:hover {
  color: #D5573B;
}

.hero{
  height: 650px;
}

.pricing{
  background-color: #E1D7CF;
}

.background{
  background-color: #017995;
}

.bg-dots {
  position: absolute;
  inset: 0;
  z-index: 0;
  opacity: 0.15;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='2' cy='2' r='2' fill='%23ffffff' fill-opacity='0.2'/%3E%3C/svg%3E");
  background-repeat: repeat;
  pointer-events: none;
}