@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

/* styles/globals.css */
:root {
  --font-roboto: 'Roboto', sans-serif;
}

body {
  font-family: var(--font-roboto);
}


.navbar{
  background-color: #215563;
}

.link:hover {
  color: #D5573B;
}

.hero{
  height: 650px;
}

.pricing{
  background-color: #E1D7CF;
}